@import '../../../sass/main.scss';

.form-group {
  display: flex;
  flex-direction: column;

  .MuiOutlinedInput-input {
    padding: 5px 8px;
  }

  .MuiSelect-selectMenu {
    text-transform: capitalize;
    font-size: 14px;
  }

  label {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
}
