@import '../../sass/main.scss';

.new-task {
  width: 800px;
  height: 800px;
  overflow: auto;
  .create-issue {
    color: #172b4d;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .new-one {
    margin-right: 5px;
    display: flex;
    align-items: center;
    input {
      margin-right: 8px;
    }
  }
  .description {
    color: #83848a;
    font-weight: 100;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: -10px;
  }
}
