@import '../../../sass/main.scss';

.task-row {
  width: 100%;
  margin-bottom: 3px;
  border: 1px solid #dfe1e6;
  border-bottom: none;
  display: flex;
  padding: 5px 3px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  font-size: 13px;
  &-line {
    height: 25px;
    width: 3px;
  }

  &-name {
    flex: 1;
    margin-left: 10px;
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
    }
  }
  &-category {
    padding: 3px 8px;
    border-radius: 5px;
  }

  &-user-info {
    margin-left: 10px;
    margin-right: 20px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    span {
      color: #5e6c84;
      margin-left: 5px;
    }
    .icon {
      padding-top: 2px;
      font-size: 16px;
    }
  }

  .avatar {
    height: 25px;
    width: 25px;
  }
}
