div > .admin-user-container {
    width: 600px;
    height: 600px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px;
  }
  .owner {
    display: inline-flex;
  }
  
  div .user {
    margin-left: 50px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background: #15225a;
    border: 1px solid gray;
  }
  
  div .oval {
    margin-left: 10px;
  }
  
  .title {
    margin-left: 20px;
  }
  input {
    height: 25px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 2px;
  }
  .select-member {
    height: 30px;
    border-radius: 2px;
    margin-left: 10px;
  }
  .organization {
    width: 50%;
    border-radius: 2px;
    margin-top: 20px;
  }
  .form-team {
    background-color: #eef0f2;
    height: 60px;
    margin: 0 20px 0 20px;
  }
  .form-organization {
    background-color: #eef0f2;
    height: 80px;
    margin: 0 20px 0 20px;
  }
  
  .submit {
    height: 35px;
    margin-left: 140px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
  }
  .search {
    height: 35px;
    left: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
  }
  
  hr {
    height: 2px;
    border-width: 0;
    color: black;
    background-color: gray;
  }
  
  .description-support {
    margin-left: 20px;
  }
  .organization-container {
    display: inline-flex;
    flex-direction: row;
  }
  .organization-name {
    margin-left: 20px;
  }
  .icon-organizations {
    position: absolute;
    margin: 0 0 20px 20px;
  }
  .icon-close {
    position: absolute;
    margin-left: 42%;
    color: gray;
  }