@import '../../sass/main.scss';

.create-project {
  width: 600px;
  @include sm {
    width: 300px;
  }
  .form-group {
    margin: 15px 0;
    input[name='key'] {
      text-transform: uppercase;
    }
  }
}
